@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-700 scroll-smooth;
}

/* Animation for hover elements */
@layer components {
  .hover-l-animation {
    @apply relative transition-all before:w-0 before:h-1 before:absolute before:bottom-0 before:left-0 before:bg-[#2978b5] before:transition-all before:duration-500
    hover:before:w-full hover:before:left-0 hover:before:bg-[#2978b5] hover:text-[#2978b5];
  }

  .hover-d-animation {
    @apply relative transition-all before:w-0 before:h-1 before:absolute before:bottom-0 before:left-0 before:bg-[#90a0d9] before:transition-all before:duration-500
    hover:before:w-full hover:before:left-0 hover:before:bg-[#90a0d9] hover:text-[#90a0d9];
  }

  .hover-l-button1 {
    @apply relative transition-all before:w-0 before:h-full before:absolute before:left-0 before:bg-[#2978b5] before:transition-all before:duration-500 
    hover:before:w-full hover:before:left-0 hover:before:-z-10 hover:before:bg-[#2978b5] hover:text-[#2978b5] before:rounded-lg hover:before:rounded-lg;
  }

  .hover-d-button1 {
    @apply relative transition-all before:w-0 before:h-full before:absolute before:left-0 before:bg-[#90a0d9] before:transition-all before:duration-500 
    hover:before:w-full hover:before:left-0 hover:before:-z-10 hover:before:bg-[#90a0d9] hover:text-[#90a0d9] before:rounded-lg hover:before:rounded-lg;
  }

  .hover-l-button2 {
    @apply relative transition-all before:w-0 before:h-full before:absolute before:left-0 before:bg-[#2978b5] before:transition-all before:duration-500 
    hover:before:w-full hover:before:left-0 hover:before:-z-10 hover:before:bg-[#2978b5] hover:text-[#2978b5];
  }
  .hover-d-button2 {
    @apply relative transition-all before:w-0 before:h-full before:absolute before:left-0 before:bg-[#90a0d9] before:transition-all before:duration-500 
    hover:before:w-full hover:before:left-0 hover:before:-z-10 hover:before:bg-[#90a0d9] hover:text-[#90a0d9];
  }

  .card-animation {
    @apply transition duration-150 ease-in-out shadow-md transform hover:-translate-y-1 hover:cursor-pointer;
  }

  .portfolioCard-animation {
    @apply flex flex-col justify-center text-center items-center opacity-0 group-hover:opacity-100 absolute inset-0 text-xl border-2 border-[#2978b5] dark:border-[#90a0d9] bg-white dark:bg-[#262626] text-black dark:text-white font-semibold transition duration-1000 ease-in-out rounded-3xl;
  }
}
